
*,
*::before,
*::after {
  box-sizing: border-box;
  --animate-delay: 0.9s;
}
html {
  
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgb(20, 238, 0);
    font-family: 'Montserrat', sans-serif;
  }

  body {
    margin: 0;
   
    font-size: 1rem;
    font-weight: 400;
    line-height: .5;
    color: #464646;
    text-align: center;
    /* background: url(../imgs/lowpoly-1.png) no-repeat center center fixed; */
    /* background: url(../svg/f4.svg) no-repeat center center fixed; */
    background: #E0E7EC;  
/* background: -webkit-linear-gradient(to right, #ECE9E6, #FFFFFF);  
background: linear-gradient(to right, #ECE9E6, #FFFFFF);  */

    background-size: cover;
    opacity: 15px;
    /* color de fondo */
  }  
.header-cv{
  width: 100%;
  height: 30%; 
  
 
  background-position: center;
  background-size: auto;
 
    background-color: #ECE9E6;
    text-align: center;
    margin: 0px;

    
    
   
}
#particles-js{
  width: 100%;
  height: 33%;
  position: absolute
}


.foto > img {
  width:  15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: #000000;;
    border: solid 8px #2F2E3B;
    margin:0px auto;
    text-align: center;
    position: relative;
} 

.foto > img :hover {
  width:  15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: #000000;
    border: solid 8px #0D0C18;
    margin:0px auto;
    text-align: center;
    position: relative;
}
/* .hovfot:hover .foto{
 
        width: 280px;
        height: 280px;
        border: solid 3px #0c98aa;;
        transition: 330ms;
} */
.hovfot:hover .foto{
 
    /* width: 280px;
    height: 280px;
    border: solid 3px #0c98aa;; */
    transition: 330ms;
    transform: scale(105%);
    
}
h1{
    /* font-family: 'Play', sans-serif; */
    
    font-size: 34pt;
    color:#0D0C18f1;
    
    /* writing-mode: vertical-lr;
    transform: rotate(180deg); */

}
body h2{
  
    font-size: 18pt;
    color:#0D0C18;
    line-height: .9;

}
body p{
 
  font-size: 16pt;
  color: #0D0C18;;
} 
.tabla-header{
    width: 100%;
    position: relative;
    /* background-color: red; */
}
.tabla-header td{
    vertical-align: top;
    width: 30%;
}
.tabla-body-1{
    width: 100%;
}
.tabla-body-1 td{
    width: 20%;
    border-radius: 15px;
}
.card {
    display: flex;
    flex-direction: column;
    color:#FFF;
    border-radius: 15px;
   
}

.card__cover {
    height: 10rem;
    width: 100%;
    background-image: url("https://angelhernandez.work/assets/imgs/logo_html.png");
}

.card__content {
    /* Take available height */
    flex: 1;
    background-color: #0c98aa;;
}
.img-card{
max-height: 8rem;
}
.section1{
background-color: red;
}
/* .div-exp{
    background-color: blue; 
} */
.sticky-table-headers__sticky {
    /* Background color */
    background-color: #0D0C18;

    /* Stick to the left */
    left: 0;
    position: sticky;

    /* Displayed on top of other rows when scrolling */
    z-index: 9999;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('https://angelhernandez.work/assets/imgs/aws.jpg') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
.main-container {
    padding: 30px;
  }
  
  /* HEADING */
  
  .heading {
    text-align: center;
  }
  
  .heading__title {
    font-weight: 600;
  }
  
  .heading__credits {
    margin: 10px 0px;
    color: #000000;
    font-size: 25px;
    transition: all 0.5s;
  }
  
  .heading__link {
    text-decoration: none;
  }
  
  .heading__credits .heading__link {
    color: inherit;
  }
  
  /* CARDS */
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    /* margin: 20px; */
    /* padding: 20px; */
    width: 50px;
    height: 50px;
    /* display: grid; */
    /* grid-template-rows: 20px 50px 1fr 50px; */
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link,
  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .card__link:hover::after {
    width: 100%;
  }
  
  .card__exit {
    grid-row: 1/2;
    justify-self: end;
  }
  
  .card__icon {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .card__title {
    
    font-weight: 400;
    color: #ffffff;
  }
  
  .card__apply {
    grid-row: 4/5;
    align-self: center;
  }
  
  /* CARD BACKGROUNDS */
  
  .card-1 {
    background: radial-gradient(#fd7553, #E44D26);
  }
  
  .card-2 {
    background: radial-gradient(#37a1df, #007DC6);
  }
  
  .card-3 {
    background: radial-gradient(#ff3f3f, #F70000);
  }
  
  .card-4 {
    background: radial-gradient(#212D3B, #110E15);
  }
  
  .card-5 {
    background: radial-gradient(#f588d8, #c0a3e5);
  }
  .img-cards{
    max-width: 80%;
  }
  .sticky-table-column{
    padding-left: 1.5rem;
  }
  .div-tabla-exp{
    padding-left: 15%;
    width: 100%;

    text-align: center;
    align-items: center;
    
   
  }
  .div-tabla-exp table{
    width: 100%;
  }
  .p-fechas{
    color: #7a7a7a;
    font-size: 10pt;
    line-height: .4pt;
    
  }
  .p-1{
    font-size: 10pt;
    line-height: .4pt;
  }
  .p-2{
    font-size: 13pt;
    line-height: .4pt;
    padding-left: 1rem;
    
  }
  .p-3{
    width: 90%;
    font-size: 10pt;
    line-height: 15rem;
    padding-left: 1rem;
    color:#777777;
    
  }
  .color-amarillo{
    color: #03002c;
  }
  .btn-contacto{
    width: 150px;
    height: 30px;
    border: none;
    z-index: 0;
    
    color: #000;
    font-size: 12pt;
 
    text-align: center;
    background-color: rgba(255, 255, 255, 0.021);
    
    background: rgba(255, 255, 255, 0.034);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 7.5px );
border-radius: 8px;
   
    text-decoration: none;
   
   
  }
  .btn-contacto:hover{
    
 

    background-color: rgba(33, 45, 59, 0.445);
    
    background: rgba(33, 45, 59, 0.445);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 10px;
    color: #FFF;
  }
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  .list-inline {
    padding-left: 0;
    list-style: none;
  }
  
  .list-inline-item {
    display: inline-block;
  }
  
  .list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
  }
  .card-prin{
    /* background-color: rgba(0, 0, 0, 0.637); */
    width: 100%;
    z-index: 999;
    /* border-radius: 5px; */
    margin-left: 5%;
    padding-left: 3rem;
   padding-top: 10px ;
   padding-bottom: 5px;
    background-color: #fff;
    
    position: static;

    /* transform: translateY(-100px); */
   
  }
  .card-prin p{
    line-height: .5;
    text-align: left;
    
   
  }
  /* .card-prin:hover{
    transform: scale(102%);
    transition: all 1s;
  } */
  .div-logo-white{
    max-width: 2rem;
    
  }
  /* .div-logo-white:hover{
    transform: scale(108%);
    transition: all .5s;
  } */
  .dropdown {
    position: relative;
    display: inline-block;
    z-index: 99999;
  }
  
  .dropdown-content {
    /* display: none; */
    height: 0px;
    overflow: hidden;
    position: absolute;
   
    min-width: 160px;
  
    /* padding: 12px 16px; */
    z-index: 9999;
    border-radius: 15px;
    line-height: .5;
    color:#000000;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.445);
    
    background: rgba(255, 255, 255, 0.445);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 7.5px );
border-radius: 10px;
  }
  .dropdown-content a{
    text-decoration: none;
    color:#000;
  }
  .dropdown-content p{
    padding-left: 1rem;
    font-size: 14pt;
   
    
    color:rgb(0, 0, 0);
  }
  .dropdown-content a:hover p{
    transform: scale(105%);
    color:rgb(0, 0, 0);
  }
  
  
  .dropdown:hover .dropdown-content {
    overflow: visible;
    height: 220px;
    padding: 12px 0x;
   
    transition: all .5s;
    
  }

  .menu-1{

  }
  .menu-2{
  
    background-color: #fdfdfd;
    box-shadow: 0px 2px 15px 0px #0000007e;
    height: 30px;
    top:155px;
   z-index: 5;
    position: -webkit-sticky;  
	position: sticky;
	top: 0; 
  text-align: center;
  
  
  }
  .tabla-menu-2{
    /* margin-left: 30%; */
    text-align: center;
    width: 100%;
    /* margin-left: 30%; */
    height: 35px;
    margin-top: 0px;
    background-color: #FFF;
    cursor: pointer;
    /* display: inline-block; */
    
  }
  .tabla-menu-2 td{
   width: 25%;
  }
  .tabla-menu-2 td > a{
    text-align: center;
    /* width: 5px; */
    /* background-color:#d1e6ff ; */
height: 10px;

    
  }
   
    
 
  .tabla-menu-2 td > span:hover{
    /* background-color:#212D3B ; */
    /* border-top: solid #212D3B; */
    transform: scale(105%);
   
    transition: 100ms;
    
  }
  .tabla-menu-2 td:hover{
    border-radius: 8px;
    background-color:#212D3B ;
    /* border-top: solid #212D3B; */
    color:#FFF;
    transform: scale(105%);
    transition: 280ms;
    
  }
  .tabla-menu-2 a{
    text-decoration: none;
    color:#212D3B;
  }
  .tabla-menu-2 td:hover a{
    color:#FFF;
  }
  .a-menu-2{
  
  }
  .inf-izquierda{
    top:30px;
    position: -webkit-sticky;  
	position: sticky;
	/* top: 0;  */
  padding-left: 20%;
  padding-top: 1rem;
  width: 20%;
  display: table-cell;
  text-align: left;
  }
  .inf-derecha{
    /* <top:200px; */
    border-radius: 2px;
   
	top: 50px; 
 background-color: #fff;
  padding-top: 1rem;
  width: 80%;
 
  margin-left: 5%;
  margin-top: 5%;
  /* display: table-cell; */
  text-align: left;
  /* padding-right: 250%; */

  }
  .inf-derecha-cont{
    padding-left: 10px;
    
  }
  .inf-derecha-cont p{
    font-size: 12pt;
line-height: 1.5;
  }
  .inf-derecha-2{
    
    /* top:155px; */
    border-radius: 2px;
    /* position: sticky; */
  padding-top: 1rem;
  width: 80%;
  

    position: sticky;
  text-align: left;
  margin-left: 5%;
  background-color: rgb(255, 255, 255);
  }
  .inf-central{
    width: 50%;
    
    /* background-color: gold; */
   /* margin-right: 20%; */
  }

  
  /* .separator-2{
    background-color: red;
    width: 50%;
    margin-left: 25%;
    height: 60px;
    position: -webkit-sticky;  
    position: sticky;
   

  } */
  .menu-2-separator{
    height: 20px;
    background: #E0E7EC; 
    /* position: sticky; */
    z-index: 2;
    /* transform: translateY(-10px); */
  }
  
  .tabla-central{
    width: 100%;
   
  }
  .tabla-central-izq{
    width: 25%;
    height: 20%;
    vertical-align: top;
   margin-top: 5%;
   padding-left: 20px;
   position: -webkit-sticky;  
   position: sticky;
  }

  .sticky{
    top:50px;
    /* height: 100%; */
    position: -webkit-sticky;  
    position: sticky;
    /* top: 0; */
    /* z-index: 1; */
    /* padding-top: 1rem; */

  }
  .div-datos-menu{
    position: -webkit-sticky;  
    position: sticky;
    top:100px;
    background-color: #fff;
    border-bottom: solid 1px #01002b1f;
    width: 47%;
    height: 56px;
    background-color: rgb(255, 255, 255);
    margin-left: 28%;
    text-align: left;
    vertical-align: middle;
    padding-top: 1rem;
   
   
  }
  .mar-1-r{
    margin-top: 40px;
  }
  .activo{
    border-bottom: solid 3px #3a3a3a;
    transition: 0ms;
    /* box-shadow: 0px -5px 10px -1px rgba(0, 0, 0, 0.178);
    background-color: rgb(0, 10, 36);
    */
  }
  .titulos-datos-menu{
    vertical-align: middle;
    padding: 1rem;
    margin-top: 1rem ;
    cursor: pointer;
  }
  /* .inf-izquierda{
    top:155px;
    position: -webkit-sticky;  
	position: sticky;
	top: 0; 
  padding-left: 20%;
  padding-top: 1rem;
  width: 20%;
  display: table-cell;
  text-align: left;
  } */
  .tabla-central-izq h1{
    font-size: 16pt;
    line-height: 1;
    padding-top: 15px;
  }
  .tabla-central-izq p{
    font-size: 12pt;
    line-height: 1;
    color: #464646;
  }

  .tabla-central-der{
    /* width: 100%;
    height: 20%; */
    vertical-align: top;
   /* margin-top: 1rem; */
   /* margin-right: 20%; */
   /* padding-right: 20rem; */
   background-color: #E0E7EC;
   text-align: left;
   
  }
 .titulos{
  text-align: left;
  color: #404040;
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 10pt;
 }

 .div-datos{
  text-align: left;
  
  padding-top: 1rem;
  font-size: 14pt;
 }
 .lugar{
  color: #4d4d4d;
 }
 .puesto{
  color: #777777;
  font-size: 10pt;
 }
 .svg-dir{
  max-width: 15px;
 }
 .div-header{
  background-color: #fff;
  height: 30px;
  vertical-align: middle;
 }
 .table-inicio{
    width: 100%;
    background-color: red;
  }
  .table-inicio tr{
    width: 33%;
  }
  .table-inicio td{
    width: 33%;
  }
  .tabla-softw{
    width: 100%;
     vertical-align: top;
    padding: 5px;
       

    text-align: left;
  }
  .tabla-softw td{
    height: 10%;
    /* width: 30%; */
  }
  .tabla-softw tr{
    text-align: left;
    line-height: .8;
    vertical-align: top;
    /* width: 30%; */
  }
  .tabla-softw p{
   /* background-color: red; */
    font-size: 12pt;
    height: 1px;
    padding-bottom: 4px;
   
  }
  .logo-software{
    max-width: 50px;
  }
  .td-softw-logo{
    width: 1rem;
    
  }
  .progress {
    height: 15px;
    width: 50%;
    /* border: 1px solid #428bca; */
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 15px;
}
 
.progress-bar {
    height: 100%;
   
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}
 
.progress-bar-text {
    margin-left: 10px;
    font-size: 10pt;
    color: #ffffff;
}
.card-foot{
  width: 50%;
  text-align: center;
  background-color: rgb(230, 230, 230);
  border-radius: 15px;
  padding: 1px;
}
.logo{
  max-width: 180px;
}
.input-mensaje{
  width: 100%;
  height: 120px;
  vertical-align: top;
}
.btn-mensaje{
  width: 5rem;
  height: 4rem;
  background-color:#212D3B;
  color:#FFF;
  margin-top: 2rem;
  border-radius: 8px;
}
.contenedor-habilidades{
width: 90%;
max-width: 1200px;
margin: auto;
padding: 40px 0;
height: 500px;
margin-top: 25px;
/* height: 200px;
background-color: #FFF;
margin-left: 6%;

padding-top: 290px; */

/* display:-webkit-flex;
display: -ms-flexbox; */
display: flex;
gap: 20px;

flex-direction: row;
}
.elementos-habilidades{
background-color: rgb(255, 255, 255);

width: 90%;
gap: 10px;
display: flex;
flex-wrap: wrap;
}
.card-elementos{
  width: 30%;
  border-radius: 10px;
}
.elementos-desc{
  background-color: red;
  width: 25%;
}
.modal_fun{
  height: 0px;
  width: 0px;
  visibility: hidden;
}
.modal{
 
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  z-index: 999;
}
.modal_container{
  margin: auto;

  background-color: rgba(255, 255, 255, 0.187);
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  overflow: hidden;
  text-align: center;
  padding: 2.5em 1.5em;
  border-radius: 1em;
 
  
  background: rgba(255, 255, 255, 0.445);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 6.5px );

}
  /* RESPONSIVE */ 
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
    
  }